/* resert css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgba(31, 25, 14, 0.541);
    text-shadow: 0px 0px 20px rgb(29, 29, 29);
    text-align: center;
}

p{
    color: rgba(68, 0, 0, 0.527);
    text-shadow: 0px 0px 20px rgb(32, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

body{
     background-image: 
       linear-gradient(rgba(212, 103, 0, 0.26) , rgba(185, 185, 185, 0.082)) ,
       linear-gradient(rgba(12, 12, 12, 0.301) , rgba(153, 153, 153, 0.384)) , 
    url(https://pbs.twimg.com/media/FmrC344XgAMcZ6L?format=jpg&name=large) ;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

div{
    text-align: center;
    background-color:rgba(255, 0, 0, 0.158) ;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}