/* resert css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body {
        background: #111;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Arial;
    }

    /* --- 1) 4 ყუთი ცენტრში --- */
    .center-boxes {
        display: flex;
        gap: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .center-boxes div {
        width: 70px;
        height: 70px;
    }

    /* 4 ფერი */
    .b1 { background: red; }
    .b2 { background: blue; }
    .b3 { background: green; }
    .b4 { background: orange; }

    /* --- 2) იგივე 4 ყუთი მარჯვენა კუთხეში --- */
    .right-corner {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        gap: 10px;
    }
    .right-corner div {
        width: 50px;
        height: 50px;
    }

    .two-vertical {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .two-vertical div {
        width: 60px;
        height: 60px;
        background: purple;
    }