/* resert css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Momo+Signature&display=swap');

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}

.wsp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: white;
    margin: 10px;
    padding: 20px;
    background-image: linear-gradient(grey,black);
    border-radius: 30px;
    font-weight: 10px;
}

body{
    background-color: black;
}
.yo{
    color: white;
    padding:15px;
    background-color: rgb(24, 24, 24);
    font-size: 10px;
    margin: 0px;
    box-sizing: border-box;
    margin: -10px;
    font-weight: bold;
}

div{
    text-align: center;
}