/* resert css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Momo+Signature&display=swap');

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(94, 94, 94);
    padding: 20px;
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.wsp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: rgb(82, 82, 82);
    margin: 10px;
    padding: 20px;
    background-image: linear-gradient(rgb(202, 202, 202),rgb(129, 129, 129));
    border-radius: 30px;
    font-weight: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}
.yo{
    color: white;
    padding:5px;
    background-color: rgb(90, 90, 90);
    font-size: 10px;
    margin: 0px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

div{
    text-align: center;
}

h2{
    text-align: center;
    background-color: grey;
    margin: 20px;
    color: white;
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    border-radius: 60px;
}