/* resert css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divflexer{
    display: flex;
    height: 100vh;
}

.divflexer1{
    display: flex;
}

.div1{
    width: 50px;
    height: 50px;
    background-color: blue;
    border: solid 2px;
}

.div2{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 24);
    border: solid 2px;
}

.div3{
    width: 50px;
    height: 50px;
    background-color: rgb(209, 31, 0);
    border: solid 2px;
}

.div4{
    width: 50px;
    height: 50px;
    background-color: rgb(54, 59, 53);
    border: solid 2px;
}

.div5{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 13);
    border: solid 2px;
}

.yobro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 13);
    border: solid 2px;
    align-items: flex-start;
}


.box3{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 13);
    border: solid 2px;
    align-items: flex-end;
}