/* restart css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-1{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(red , blue);
}

.div-2{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(255, 255, 255) , blue);
}

.div-3{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgb(0, 255, 221) , rgb(200, 28, 22));
}

body{
    background-color: rgb(57, 57, 57);
}

.divflex{
    display: flex;
}

.divflex1{
    width: 10rem;
    height: 10rem;
    background-color: brown;
    border: solid 2px;}

.divflex2{
    width: 10rem;
    height: 10rem;
    background-color: brown;
    border: solid 2px;
}

.divflex3{
    width: 10rem;
    height: 10rem;
    background-color: brown;
    border: solid 2px;
}

.divflex4{
    width: 10rem;
    height: 10rem;
    background-color: brown;
    border: solid 2px;
}