/* RESERT CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divflexer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.container{
    height: 600px;
    width: 700px;
    background-color: rgba(122, 0, 16, 0.441);
    border: solid 1px;
    border-radius: 10px;
}

.container1{
    height: 600px;
    width: 700px;
    background-color: rgba(122, 0, 16, 0.441);
    border: solid 1px;
    border-radius: 10px;
}

.container2{
    height: 600px;
    width: 700px;
    background-color: rgba(122, 0, 16, 0.441);
    border: solid 1px;
    border-radius: 10px;
}

body{
    background-color: black;
}

.h12{
text-align: center;
text-shadow: 1px 1px 10px rgb(167, 0, 0);
color: rgb(255, 0, 0);
}

.starwarslogo{
    position: absolute;
    left: 20px;
    top: 20px;
    left: 1800px;
    border-radius: 10px;
    height: 50px;
    border: solid white 2px;
    position: fixed;
}

.h21{
    color: white;
    text-shadow: 0px 0px 5px white;
    position: absolute;
    left: 10px;
}

.h22{
    color: white;
    text-shadow: 0px 0px 5px white;
    position: absolute;
    left: 650px;
}

.p12{
    color: white;
    text-shadow: 0px 0px 5px white;
    
}

.img1{
    position: absolute;
    left: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px red;
}

.img2{
    position: absolute;
    left: 670px;
    top: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px red;
}

.img3{
    position: absolute;
    left: 1680px;
    top: 620px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px red;
}

.p13{
    color: white;
    text-shadow: 0px 0px 5px white;
    
}

.h23{
    color: white;
    text-shadow: 0px 0px 5px white;
    position: absolute;
    left: 1310px;
    top: 220px;
}