body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 520px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box {
  background: #eee;
  border: 2px solid #aaa;
  height: 180px;
  padding: 10px;

  display: flex;
  gap: 10px;
}

.box div {
  width: 50px;
  height: 50px;
  background: #2ea8ff;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}
