/* reset css */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1{
color: rgb(255, 255, 255);
font-size: 72px;
}

p{
    color: rgb(254, 254, 254);
}

h2{
    color: honeydew;
}

body{
    background-color: gray;
    background-image: url(https://images.unsplash.com/photo-1491466424936-e304919aada7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTkyMHgxMDgwJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}