@font-face {
    font-family: "Roboto" , sans-serif;
    src: url(./assests/fonts/roboto/static/Roboto-BoldItalic.ttf);
}
/* resert css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.315);
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.315);
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.664) , rgba(255, 255, 255, 0.644)) , url(https://images.unsplash.com/photo-1699891730676-037bed3c1bed?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
    width: 100%;
    height: 100vh;
}

.paragraph1{
   text-align: center; 
   font-size: 20px;
   background-color: rgba(255, 0, 0, 0.288);
   font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

div{
text-align: center;
}

img{
    border-radius: 30px;
}