*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(49, 49, 49);
}

.parentdiv{
display: flex;
justify-content: space-between;
}

.box1{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: solid black 2px;
    border-radius: 10px;
}