    h1 {
      color: rgb(0, 0, 0);
      text-align: center;
    }
    p {
      font-size: 18px;
      color: rgb(0, 0, 0);
      text-align: center;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 8px;
      text-align: center;
    }